<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>Datos de contacto</h2>
    </div>
    <div class="card-text">
      <p>
        <span class="fw-bold"><i class="fa-solid fa-phone"></i> Teléfono:</span>
        {{ customer.phone }}
      </p>
      <p>
        <span class="fw-bold"><i class="fa-solid fa-envelope"></i> Email:</span>
        {{ customer.email }}
      </p>
      <p>
        <span class="fw-bold"
          ><i class="fa-solid fa-location-dot"></i> Dirección:</span
        >
        {{ customer.address }}
      </p>
    </div>
  </div>
</div>
