<header>
  <div class="px-3 py-2 text-dark">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          routerLink="/"
          class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-primary text-decoration-none"
        >
          <i class="fa-solid fa-truck-moving"></i>
          &nbsp;&nbsp;&nbsp;
          <span class="fs-4">Cargo Track</span>
        </a>

        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li>
            <a
              routerLink="/clientes"
              class="nav-link text-dark"
              routerLinkActive="text-primary border-bottom border-5 border-primary"
            >
              <i class="fa-solid fa-user"></i>
              Clientes
            </a>
          </li>
          <li>
            <a
              routerLink="/envios"
              class="nav-link text-dark"
              routerLinkActive="text-primary active"
            >
              <i class="fa-solid fa-box"></i>
              Envíos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="b-example-divider"></div>
