<table class="table table-striped">
    <thead>
      <tr class="table-primary text-white">
        <th scope="col">N.°</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cliente</th>
        <th scope="col">Peso</th>
        <th scope="col">Dimensiones</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Tipo de Carga</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shipping of shippings">
        <td>{{ shipping.shippingId }}</td>
        <td>{{ shipping.description }}</td>
        <td>{{ shipping.customer?.firstName }} {{ shipping.customer?.lastName }}</td>
        <td>{{ shipping.weight }}</td>
        <td>{{ shipping.length }} x {{ shipping.width }} x {{ shipping.height }}</td>
        <td>{{ shipping.sourceAddress }}, {{ shipping.sourceCity }}</td>
        <td>{{ shipping.destinationAddress }}, {{ shipping.destinationCity }}</td>
        <td>{{ shipping.registerDate }}</td>
        <td>{{ shipping.cargoType | cargoType }}</td>
        <td>
          <a [routerLink]="['./editar', shipping.shippingId]" class="btn btn-primary" (click)="editShipping(shipping)">Editar</a>
          <button class="btn btn-danger" (click)="deleteShipping(shipping.shippingId)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  